<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/css/posts.css">
</head>
<body>

    <form hx-post="posts"
    hx-swap-oob="posts"
    hx-swap="none">
        <label>
            Title:
            <br>
            <input name="title" type="text">
        </label>
        <br>
        <label>
            Body:
            <br>
            <textarea name="body">

            </textarea>
        </label>
        <input type="submit" value="Submit">
    </form>
    <hr>

    {{ template "posts" . }}

</body>
</html>

